.hidden {
	visibility: hidden;
	color: yellow;
}

.enemy {
	height: 50px;
	width: 50px;
	background-color: green;
	position: relative;
	left: auto;
	right: auto;
}

button {
	position: relative;
	clear: top;
}

h1 {
	color: blue;
	font-family: sans-serif;
}